# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.manifest
*.spec

# Virtualenv
venv/
env/
.venv/
ENV/

# Celery
celerybeat-schedule*
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir

# Django
logs/
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/


# Migrations (optional, keep if you want them tracked)
*/migrations/__pycache__/
*/migrations/*.pyc
# Uncomment next line if you don’t want migration files in git
# */migrations/

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Coverage / Testing
.coverage
coverage.xml
htmlcov/
.tox/
.pytest_cache/

# Environments
.env
.env.local
.env.*.local

# AWS / S3 / Secrets
*.pem
*.key
*.crt
*.der

# Cache
.cache/

#Database
*.db
*.sqlite3

# Test files
policy_test_frontend.html